@font-face {
    font-family: 'SegoeUI-Semibold';
    src: url('../../fonts/SegoeUI-SemiBold.ttf'), url('../../fonts/SegoeUI-SemiBold.woff'), url('../../fonts/SegoeUI-SemiBold.eot')
}

@font-face {
    font-family: 'SegoeUI-Black';
    src: url('../../fonts/SegoeUI-Black.ttf'), url('../../fonts/SegoeUI-Black.woff'), url('../../fonts/SegoeUI-Black.eot')
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'SegoeUI-Semibold';
    color: #686868;
    padding-top: 200px;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    border: none;
    outline: none;
    color: #686868;
}

.flex_container {
    display: flex;
    justify-content: space-between;
}

.background_styles {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.relative {
    position: relative;
}

.font_bold {
    font-family: 'SegoeUI-Black';
}

.inline_block {
    display: inline-block;
}

.display_table {
    display: table;
}

.inline_middle {
    display: table-cell;
    vertical-align: middle;
}

.transitioned {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
}

.main_content {
    width: 2320px;
    margin: 0 auto;
}

.mobile_menu, .cmn-toggle-switch.cmn-toggle-switch__htx {
    display: none;
}

header {
    padding: 22px 0 20px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
}

.nav_links {
    padding-top: 54px;
}

.nav_link {
    font-size: 32px;
    line-height: 43px;
    margin-right: 80px;
}

.nav_link_active {
    color: #F16238;
    position: relative;
}

.nav_link_active:after {
    content: '';
    height: 4px;
    background-color: #F16238;
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: -16px;
}

.header_btn {
    min-width: 280px;
    height: 80px;
    border-radius: 50px;
    font-size: 32px;
    line-height: 43px;
}

.header_right {
    padding-top: 36px;
}

.login_btn {
    color: #EA865E;
    background: none;
    border: 4px solid;
    border-color: #EA865E;
}

.login_btn:hover {
    background-color: #FE9432;
    color: #fff;
}

.login_btn_de {
    padding: 0 15px;
}

.reg_btn {
    color: #FFFFFF;
    background: linear-gradient(75.03deg, #CF3E2E -44.46%, rgba(255, 255, 255, 0) 190.03%), #FE9432;
    margin-left: 34px;
}

.reg_btn:hover {
    background-color: #F16238;
}

.arrow_closed {
    display: inline-block;
    width: 24px;
    height: 14px;
    background-image: url(/images/language_arrow.png);
}

.arrow_opened {
    display: inline-block;
    width: 24px;
    height: 14px;
    background-image: url(/images/language_arrow_opened.png);
}

.Dropdown-root {
    display: inline-block;
    width: 232px;
    top: 7px;
}

.Dropdown-control {
    font-size: 28px;
    line-height: 37px;
    color: #949494 !important;
    padding: 0 !important;
    border: none !important;
    display: inline-block;
    cursor: pointer !important;
}

.Dropdown-placeholder.is-selected {
    margin-right: 10px;
}

.Dropdown-placeholder.is-selected, .Dropdown-arrow-wrapper {
    display: inline-block;
}

.Dropdown-menu {
    border: none !important;
    box-shadow: 0px 44px 130px rgba(0, 0, 0, 0.1), 0px 8px 8px rgba(0, 0, 0, 0.05) !important;
    border-radius: 8px;
    max-height: initial;
    font-size: 28px;
    line-height: 37px;
    color: #949494 !important;
    max-height: initial !important;
}

.Dropdown-option {
    color: #949494 !important;
}

.Dropdown-option.is-selected {
    background-color: #eceff1 !important;
    color: #949494 !important;
}

.Dropdown-control:hover {
    box-shadow: none !important;
}

.Dropdown-option:hover {
    background-color: #eceff1 !important;
    color: #949494 !important;
}

.footer_image {
    margin-bottom: -7px;
}